<p>
<strong>Title:</strong>
<%= @article.title %>
</p>

<p>
<strong>Text:</strong>
<%= @article.text %>
</p>

<p>
    <strong>Categories:</strong>
    <% if @article.categories %>
        <ul>
            <% @article.categories.each do |category| %>
                <li> category </li>
            <% end %>
        </ul>
    <% end %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<% if logged_in? %>
    <p> Add comment: </p>
    <%= render 'comments/form' %>
<% end %>

<% if current_user %>
    <% if current_user == @article.user || current_user.admin? %>
        <%= link_to 'Edit', edit_article_path(@article) %>
        <%= link_to 'Back', articles_path %>
    <% end %>
<% end %>